* {
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    background-image: linear-gradient(45deg, #c9a0dc, #66b7e1, #c9a0dc);
}

header {
background-color: #8e7cc3;
color: white;
font-size: 30px;
text-align: center;
padding: 20px;
border : 2px solid black;
height: 80px;
margin-top: 0;
}
    